/*Colors from style guide saved in variables*/
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

/*default margin and paddings*/
* {
  display: border-box;
  margin: 0;
  padding: 0;
}

/*font import*/

@font-face {
  font-family: 'Ubuntu';
  src:  url('./assets/fonts/Ubuntu-Regular.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src:  url('./assets/fonts/Ubuntu-Bold.ttf') format('trueType');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Ubuntu';
  src:  url('./assets/fonts/Ubuntu-Medium.ttf') format('trueType');
  font-weight: medium;
  font-style: medium;
}

h1,h2,h3,h4{
  font-family: 'Ubuntu';
}
button{
  font-family: 'Ubuntu';
}
input{
  font-family: 'Ubuntu';
}

body {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}


html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

#main-section {
  display: flex;
  background-color: var(--white);
  padding: 2%;
  border-radius: 10px;
  width: 900px;
  -webkit-box-shadow: 2px 3px 4px 1px hsla(231, 11%, 63%, 0.467); 
box-shadow: 2px 3px 4px 1px hsla(231, 11%, 63%, 0.408);
}

/*steps aside section*/
#steps-guide {
  min-width: 274px;
  min-height: 569px;
  background-image: url('./assets/bg-sidebar-desktop.svg');
  background-size: cover;
}

#step-list {
  padding: 15%;

}

.guide-item {
  display: flex;
  margin-bottom: 20%;
}

.step-no {
  display:flex;
  border: 1px solid var(--alabaster);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--purplish-blue);
  color: var(--alabaster);
  font-weight: bolder;
}

.aside-step-headings {
  margin-left: 10%;
}


.activeStep {
  background-color: var(--light-blue);
  
}
.activeStep>p{
  color: var(--purplish-blue);
}

.aside-step-h1 {
  text-transform: uppercase;
  font-size: small;
  color: var(--cool-gray)
}

.aside-step-h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--magnolia);
  font-family: 'Ubuntu', sans-serif;
}

/*This is styling of step one*/
.main-form {
  display:flex;
  flex-direction: column;
  padding: 5% 10%;
  width: 70%;
  min-height: 100%;
}

h1 {
  color: var(--marine-blue);
  font-size: xx-large;
  margin-bottom: 3%;
}

h2 {
  font-size: smaller;
  color: var(--cool-gray);
  margin-bottom: 5%;
}

.input-label {
  color: var(--marine-blue);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: medium;
}

.input {
  width: 100%;
  padding: 3% 5%;
  margin-top: 10px;
  margin-bottom: 20px;;
  font-size: 16px;
  border-radius: 10px;
  border: 1.5px solid var(--light-gray);
}
.input:focus{
  border: 1px solid var(--purplish-blue);
  outline:none;
}
.error-input{
  border:1px solid var(--strawberry-red)
}
.labels-s1{
  display:flex;
  justify-content: space-between;
  width:100%;
}
.err-msg-input{
  color: var(--strawberry-red);
  font-weight: bolder;
  font-size: small;
}
/*ALL the buttons styles and positioning*/
.btn-next{
  padding:15px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--marine-blue);
  color: var(--alabaster) ;
  font-weight:bolder;
  justify-self: end;
  margin-left:auto;

}
.btn-next:hover{
  color:var(--magnolia);
  background-color: var(--purplish-blue);
  cursor:pointer;
}
.btn-back{
  background-color: transparent;
  border:none;
  color:var(--cool-gray);
  font-weight: 700;
  justify-self: flex-start;
}
.btn-back:hover{
  color: var(--marine-blue);
  cursor:pointer;
}
.btns-flex{
  width:100%;
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  justify-content: space-between;
}
/*step 2 styling*/

#options-row{
  display:flex;
  width: 100%;
  justify-content: space-between;
}
.plan{
  width: 25%;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding:6% 3%;
  height: 7rem;
}
.plan:hover{
  border-color:var(--purplish-blue);
  cursor:pointer;
}

.plan-headings{
  margin-top:20%;

}
.plan-name-h{
  color:var(--marine-blue);
}
p{
  color: var(--cool-gray);
}
/*setting sliding checkbox*/
#switch {
  position: relative;
display: inline-block;
width: 50px;
height: 25px;
}

#switch-check {/*hides default checkbox*/
  opacity: 0;
  width: 0;
  height: 0;

}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor:pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 15px;
}
.slider:before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left:3px;
  border-radius: 50%;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#switch-check:checked + .slider {
  background-color: darkblue;
}
#switch-check:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
#switch-check:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
#pickPeriod{
  text-align: center;
  margin-top:2rem;
  padding:3% 0;
  width:100%;
  border-radius:10px;
  background-color:hsla(243, 100%, 62%, 0.07) ;
}
.periods{
  font-weight: bolder;
  font-size: smaller;
  margin:0 2rem;
  color:var(--cool-gray);
}
.act-period{
  color:var(--marine-blue);
}
.freemonths{
  color: var(--marine-blue);
  font-size:smaller;
  font-weight: bolder;
}
/*step 3*/
.add-ons{
  margin-top:5%;
}
.add-on{
  display:flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border:solid 1px var(--light-gray);
  border-radius:10px;
  padding: 2.5% 5%;
  margin-top:5%;
}
.add-on:hover{
  border-color:var(--purplish-blue)
}

.addon-inside{
  display:flex;
  justify-content: space-between;
  text-align: left;
}
.label-addOns{
  margin-left: 2rem;
}
h3{
  font-size:medium;
  color:var(--marine-blue);
  margin-bottom: .4rem;
}
/*custom checkbox*/
.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  margin-top:10px;
  margin-left:-.5rem;
  padding-left: 30px; /* Adjust the size of the checkbox */
  cursor: pointer;
  
}

.custom-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Adjust the size of the checkbox */
  height: 20px; /* Adjust the size of the checkbox */
  background-color: white;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
}

.custom-checkbox:checked + label::before {
  content: "\2713"; /* Unicode character for a checkmark */
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Adjust the size of the checkbox */
  height: 20px; /* Adjust the size of the checkbox */
  background-color: var(--purplish-blue);
  color: white ;
  font-weight: bold;
  text-align: center;
  line-height: 20px;}
/*summary*/
.summary-choice{
  display: flex;
  justify-content: space-between;
  background-color:  hsla(243, 100%, 62%, 0.07);
  width:90%;
  padding: 4% 5%;
  border-radius:10px;
}
#plan-price-sum{
  font-weight:bolder;
  align-self: center;
}
#summary-plan{
  border-bottom: solid 1px var(--light-gray) ;
}
.add-on-sum{
  display: flex;
  justify-content: space-between;
  background-color:  hsla(243, 100%, 62%, 0.07);
  width:90%;
  padding: 5%;
  border-radius:10px;
}
.add-on-sum-price{
  color:rgb(86, 86, 86);
}
#sum-total{
  display: flex;
  justify-content: space-between;
  padding: 4% 5%; ;
}
#total{
  color:var(--purplish-blue);
  font-weight: bolder;
  font-size: larger;
}
.active{/*works on step one and two, active selecte section styling*/
  background-color: hsla(243, 100%, 62%, 0.07);
  border-color:var(--purplish-blue);
}
.change{
  text-decoration: underline;
}
.change:hover{
  color: var(--purplish-blue);
  cursor:pointer;
}
/*thank you page*/
#thanks{
  align-items: center;
  justify-items: center;
  align-self: center;
  text-align: center;
}
#thanks-note{
  text-align: center;
}
.smaller{
  font-size: smaller;
}
/*media queries*/
@media screen and (max-width: 600px) {

 #main-section{
  flex-direction: column;
  min-height: 100%;
  min-width:100%;
  background-color: var(--light-blue);
  align-items: center;

 }
 #steps-guide{
  background-image: url('./assets/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 172px;
  display: flex;
  justify-content: center;
  min-width: 110vw;
 }
 #step-list {
    display:flex;
   justify-content: space-between;
   width: 60%;
   margin-top:-3vh;
}
.aside-step-headings{
  display:none;
}
.main-form{
  width: 80vw;
  background-color: white;
  justify-self: center;
  min-height: 380px;
  margin-top: -70px;
  border-radius:10px;
  padding:10% 4%;
  -webkit-box-shadow: 2px 3px 4px 1px hsla(231, 11%, 63%, 0.467); 
box-shadow: 2px 3px 4px 1px hsla(231, 11%, 63%, 0.408);

}

#options-row{
 flex-direction:column;
 align-items: space-between;
}
.plan{
  margin-top:1rem;
  width: 90%;
  display: flex;
  height: 2rem;
}
.plan-headings{
  margin-top:0%;
  margin-left:10%;
}
.periods{
  font-weight: bolder;
  font-size: smaller;
  margin:0 .7rem;
  color:var(--cool-gray);
}
.act-period{
  color:var(--marine-blue)
}
#pickPeriod{
  padding:6% 0;
}
.label-addOns>p{
  font-size:small;
}
.label-addOns{
  margin-left: .5rem;
}
.addon-inside{
  padding:5% 2%;
}
.btns-flex{
  position: absolute;
  bottom: 0px;
  width:100vw;
  padding: 5% 5%;
  background-color: white;
  margin-bottom:0;
  margin-top: 2rem;
  align-self: center;

}
.btn-back{
  margin-left:20px;
}
.btn-next{
  margin-right:20px;
}
.input {
  width: 90%;
}
.summary-choice{
  padding:7% 5%;
}
.yearly-ph-active{
  margin-top:-5%}
}
